div(id="stream-webcam-window" class="window")
	div(id="stream-webcam-selection" class="hidden")

div(id="webcam-window" class="window window-resizable")
	div(id="stream-window-header" class="window-header")
		div(class="window-grab") Web Cam
		button(class="window-button-close") #[b &times;]
		button(class="window-button-maximize") &#9744;
		button(class="window-button-original") &bull;
		button(class="window-button-enter-full-tab") &#9650;
		button(class="window-button-full-screen") &#10530;

	button(class="window-button-exit-full-tab") &#9660;
	div(id="webcam-box" class="webcam-box-online")
		video(id="webcam-video" autoplay playsinline)
